* {
    text-decoration: none;
}
nav ul {
    list-style: none;
    overflow: hidden;
    padding-bottom: 1%;
}

ul li {
    display: inline;
}

 a {
    text-decoration: none;
}
.main-a {
    width: 2%;
    margin-top: 5%;
    margin-left: 0%;
    font-size: 16px;
    font-weight: bold; 
    
}

.p-right-30 {
    padding-right: 30%;
}

.p-right-3 {
    padding-right: 3%;
}