.color-monto{
    background: #F1F2F4;
}
.btn-prestamo{
    border: 1px solid #F9CD09;
    padding: 8px 30px 8px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 100px;
    margin-top: 20px;  
}