.NavItem {
    margin: 0.3em;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    float: right;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color: #7D0000;
}

@media (min-width: 500px) {
    .NavItem {
        margin: 0.2em;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavItem a {
        height: 100%;
        padding: 16px 10px;
        font: inherit;
        font-weight: bold;
        background-color: transparent;
        
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        color: #7D0000;
        border-bottom: 4px solid #7D0000;
    }
}