.NavItem {
    margin: 1rem;
    /* box-sizing: border-box; */
    display: block;
    /* width: 100%; */
    margin-left: 100px;
}

.NavItem a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    float: right;
}

  
.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    color: #C50A5B;
}

@media (min-width: 500px) and (max-width: 950px) {
    .NavItem {
        margin: 0.2em;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavItem a {
        height: 100%;
        padding: 16px 10px;
        font: inherit;
        font-weight: bold;
        background-color: transparent;
        
    }
    
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        color: #C50A5B;
        border-bottom: 4px solid #C50A5B;
    }
}